* {
    font-family: "Roboto", sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 35px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 115px;
    background-color: #523906;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.main {
    padding: 120px 255px;
    background-color: #523906;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side {
    width: 450px;
}

.right-side img {
    width: 550px;
    border: 5px double #0e8a01;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

#main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#main-subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

button {
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #0e8a01;
    font-weight: 500;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 40px;
}

.information {
    display: flex;
    height: 400px;
    background-color: #F9FAF8;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 60px
}

.info-images {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}

.image img {
    width: 160px;
    height: 160px;
    border: 4px solid #0e8a01;
    border-radius: 10px;
    padding: 5px;
}

.image h3 {
    text-align: center;
    margin-top: 6px;
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.info-header h1 {
    font-size: 36px;
    font-weight: 900;
    color: #523906;
}

.quote {
    background-color: #E5E7EB;
    height: 225px;
    padding: 100px 200px 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote div h1 {
    font-size: 36px;
    color: #523906;
    font-style: italic;
    font-weight: 300;
}

.quote div h3 {
    font-size: 30px;
    text-align: right;
    color: #523906;
    margin-top: 0;
}

.cta {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .box {
    background-color: #0e8a01;
    padding: 15px 60px;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 120px;
    width: 800px;
}

.cta-text h3, .cta-text h2 {
    margin: 0;
    color: #E5E7EB;
}

.cta-text h3 {
    font-weight: 300;
}

.cta-button button {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px 40px;
}

.footer {
    background-color: #523906;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft h3 {
    color: #E5E7EB;
    margin: 0;
    text-align: center;
    font-weight: 400;
}